@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --green: #4ecdc4;
  --darkGrey: #292f36;
  --white: #fffffa;
  --black: #000103;
  --orange: #fa8334;
  --red: #ff312e;
}

.inactive {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.inactive::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(245, 39, 39);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.inactive:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

/* .active {
  color: red;
  text-decoration: none;
} */

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background-image: url(./texture.svg); */
  background-color: darkGrey;
  min-height: calc(100vh - 100px);
  margin: 10px;
  background-attachment: fixed;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav1 {
  text-decoration: none;
}

.makeStyles-root-1,
.makeStyles-root-6,
.makeStyles-root-4,
.makeStyles-root-9,
.makeStyles-root-10 {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}
.mainBlock {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.MuiTableCell-head {
  color: rgba(150, 0, 0, 0.87);
  font-weight: 700;
  line-height: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#hoverEffect {
  color: white;
  font-weight: normal !important;
}

#bnpmNewsFooter {
  margin: 0;
}

#sectionFooter {
  margin-left: 80px;
}

#contactFooter {
  border-right: 1px solid black !important;
}
