/* @import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
.title {
  font-family: "Pattaya", sans-serif;
  font-size: 50px;
}

.crypto th,
.crypto td {
  padding: 5px;
  color: white;
  border: 1px solid white;
}
.crypto {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
} */
.coin-input {
  width: 300px;
  height: 45px;
  padding-left: 15px;
  border-radius: 6px;
  border: none;
  color: #939393;
  font-weight: 500;
  background-color: #fffbf8;
}
