.navigation1 {
  height: 50px;
  color: white;
  background-color: black;
  text-align: justify;
  padding-top: 5px;
}
.logo {
  width: 20px;
  height: 20px;

}
.navLink {
  padding: 5px;
  font-weight: bold;
  float: left;
}
.navSearch, .navWeather {
  float:right;
  height: 40px;
}
.secondNav {
  background-color: #272828;

  text-align: justify;
  height: 50px;
  margin-bottom: 10px;

}
.secondNav < Nav.Link {
  padding: 5px;
}
